<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rifkiadam.gryus.greatingapps">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu.unit1.SingleImage"></activity>
        <activity android:name=".Menu.unit1.HasilSkoringActivity" />
        <activity
            android:name=".Menu.unit1.ExampleActivity"
            android:label="@string/contoh" />
        <activity
            android:name=".Menu.unit1.DescribeActivity"
            android:label="@string/deskripsi" />
        <activity
            android:name=".Menu.unit1.DefinitionActivity"
            android:label="@string/definisi" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".Menu.unit3.Unit3Activity"
            android:label="@string/unit3" />
        <activity
            android:name=".Menu.unit2.Unit2Activity"
            android:label="@string/unit2" />
        <activity
            android:name=".Menu.unit1.Unit1Activity"
            android:label="@string/unit1" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/beranda" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>